body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #3cabb4;
  padding: 0;
}

.presentational-container{
  padding: 20px;
  box-shadow: 2px 2px 8px 4px;
  background-color: #aaa;
}

table{
  background: none;
  margin: 0;
  padding: 10px 10px 0;
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #232C9F;
 }

h1 {
  padding: 20px;
  text-align: center;
  background-color: #f4502d;
  font-family: Corbel; 
  margin-top: 40px;
}

fieldset {
  background-color: transparent;
  max-width:350px;
  padding:16px;	
  border: dotted solid;
  border-color: #009472;
  border-width: 1px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
   margin: 0 auto;
}

label {

  width: 150px;
  text-align: right;
}

input {

  margin: 2px;
}

img{
  border-radius: 50%;
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

table, td{
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  line-height: line-height-base * font-size-base;
  font-size: font-size-base;
  margin: 0;
}

.headshot-cell {
    border-radius: 50%;
    width: 90%;
    height: 70px;;
    border: solid 2px #4cb3b7;
    display: flex;
    float: left;
  }

#outputName {
    text-transform: capitalize;
    font-weight: bold;
    width: 234px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 2px;
    color: #000a0a;
  }

#outputPosition {
    text-transform: capitalize;
    width: 90px;
    height: 30px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    color: rgb(54, 238, 238);
  }

  .Line-2 {
    width: 290px;
    height: 1px;
    border: solid 1px #009399;
  }

  .Combined-Shape {
    width: 15px;
    height: 15px;
    background-color: #009399;
  }

  .Number {
    width: 75px;
    height: 22px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #009399;
  }

  .Combined-Shape {
    width: 15px;
    height: 15px;
    object-fit: contain;
    background-color: #009399;
  }

  .corabellecalldeploy {
    width: 145px;
    height: 22px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #009399;
  }


  .Group-14 {
    width: 115px;
    height: 104px;
    object-fit: contain;
  }

  .New-Logo-Copy-9 {
    width: 57px;
    height: 47px;
    object-fit: contain;
  }