body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #3cabb4;
  padding: 0;
  float:left;
}

.presentational-container{
  float: left;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px;
  background-color: rgb(250, 244, 244);
 
}

table{
  width:35%;
  background: none;
  margin: 0;
  padding: 10px 10px 0;
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #232C9F;
 }

h1 {
  padding: 20px;
  text-align: center;
  background-color: #f4502d;
  font-family: Corbel; 
  margin-top: 40px;
}

fieldset {
 
  background-color: transparent;
  max-width:350px;
  padding:16px;	
  border: dotted solid;
  border-color: #009472;
  border-width: 1px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
   margin: 0 auto;
}

label {
  float:left;
  width: 150px;
  text-align: right;
}

input {
  width:35%;
  margin: 2px;
}

img{
  
  height: 20px;
  border-radius: 50%;
  border: 0 none;
  height: auto;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

.col{
   border-spacing: 0px;
}

.number-row {
  padding: 5px;
  width:35%;
  text-align: center;
  margin: 0;
}

.email-row {
  padding:5px;
  width: 35%;
  text-align: left;
  display:block;
  margin: auto;
  height: 100%;
  width: 100%;
}

.headshot-cell {
    border: solid 2px #4cb3b7;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
    position: absolute;
    width: 50px;
    display: flex;
    float: left; 
  }

#outputName {
    
    text-align:center;
    padding: 90px;
    text-transform: capitalize;
    font-weight: bold;
    width: 234px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 2px;
    color: #000a0a;
  }

#outputPosition {
    
    text-align:left;
    padding: 170px;
    text-transform: capitalize;
    width: 90px;
    height: 30px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    color: rgb(54, 238, 238);
  }

 #outputNumber {
    text-align:left;
    width: 75px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #009399;
  }

  .Combined-Shape {
    width: 15px;
    height: 15px;
    object-fit: contain;
    background-color: #009399;
  }

  #outputEmail {
    float:left;
    width: 145px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #009399;
  }

  .New-Logo-Copy-9 {
    border: solid 2px #4cb3b7;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
    position: absolute;
    width: 50px;
    display: flex;
    float: left; 
   }

   .icon-logo-cell {
     float:right;
     padding: 10px;
     padding-right: 55px;
     padding-bottom: 65px;
     text-align: left;
     margin:auto;
   }