body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #3cabb4;
  float:left;
}

.presentational-container{
  float: left;
  padding: 10px;
  box-shadow: 2px 2px 8px 4px;
  background-color: rgb(250, 244, 244);
}

table{
  background: rgb(247, 245, 245);
}

h1 {
  padding: 20px;
  text-align: center;
  background-color: #f4502d;
  font-family: Corbel; 
  margin-top: 40px;
}

fieldset {
  background-color: transparent;
  max-width:350px;
  padding:16px;	
  border: dotted solid;
  border-color: #009472;
  border-width: 1px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
   margin: 0 auto;
}

label {
  float:left;
  width: 150px;
  text-align: right;
}

input {
  width:35%;
  margin: 2px;
}

img{
  float:right;
  border-radius: 50%;
}

td img {
  float:left;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
}

#features #outputNumber{
  display:flex;
  align-items:center;
}

#features #outputEmail{
  display:flex;
  align-items:center;
}

.email-row {
  padding:5px;
  width: 35%;
  text-align: left;
  display:block;
  margin: auto;
  height: 100%;
  width: 100%;
}

.headshot-cell {
    height: 30px;
    border: solid 2px #4cb3b7;
    border-radius: 50%;
    padding: 50px 50px 10x 10px;
    text-align: center;
    position: relative;
    width: 50px;
    display: flex;
    float: left; 
  }

#outputName {
    text-align:left;
    text-transform: capitalize;
    font-weight: bold;
    width: 34px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    letter-spacing: 2px;
    color: #000a0a;
  }

#outputPosition {
    text-align:left;
    text-transform: capitalize;
    width: 90px;
    height: 30px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: rgb(54, 238, 238);
  }

 #outputNumber {
    float:left;
    margin:10px 10px 10px 10px;
    text-align:left;
    width: 75px;
    height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #009399;
  }

  .Combined-Shape {
    width: 15px;
    height: 15px;
    object-fit: contain;
    background-color: #009399;
  }

  #outputEmail {
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #009399;
    float: left;
    margin: 10px 10px 10px 10px;
  }

  .New-Logo-Copy-9 {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 50px;
    height: 50px;
   }

   .icon-logo-cell {
     height: 50px;
     width: 80px;
     float:left;
     padding: 50px 50px 10px 10px;
     position: relative;
     text-align: left;
     margin:auto;
   }